.access-container {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;  
}

.access-body {
  position: fixed;
  justify-content: center;
  top: 25%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}