.menu-body {
  height: 100vh;
  overflow: hidden;
}

nav {
  display: grid;
  padding: 0;
  height: 100%;
}

.nav-chats-link {
  width: 100%;
  display: inline-flex;
  text-decoration: none;
}

.nav-header {
  height: fit-content;
  position: relative;
  width: 90%;
  top: 20%;
  left: 5%;
  border: 0px solid;
  border-radius: 10px;
  padding: 1rem 0;
  background-color: rgb(244, 241, 241);
}

.nav-footer {
  width: 100%;
  position: relative;
  top: 55%;
  border-top: 1px solid white;
  padding-top: 5%;
}

.nav-chats-text {
  background: none;
  border: none;
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

#profile-image {
  width: 20%;
  height: auto;
}

.menu-header{
  position: relative;
  width: 100%;
  top: 15%;
}

.menu-header-user {
  position: relative;
  left: 30%;
  height: 100%;
  align-items: center;
}

.menu-header-user-name {
  position: relative;
  bottom: 1.2rem;
  margin-left: 8%;
}

.nav-header-chat-icon-container {
  width: fit-content;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(224, 222, 222);
  position: relative;
  left: 5%;
}

#chat-icon {
  height: 2rem;
}

.nav-chats-text {
  bottom: 10%;
  width: fit-content;
  margin-left: 10%;
}

.rc-tooltip-content .rc-tooltip-inner {
  min-height: unset;
}