.chat-container {
  height: 100vh;
  display: flex;
  width: 100%;
}

.chat-contacts-container {
  width: 21%;
  height: 100%;
}

.chat-header {
  position: relative;
  top: 12%;
  padding: 3%;
  margin: 0;
  font-size: 3rem;
}

.chat-contacts-body {
  height: 75%;
  position: relative;
  top: 12%;
}

#user {
  padding: 5%;
  font-size: 1.5rem;
}

.chat-body {
  height: 100%;
  width: 79%;
  background-color: rgb(219, 233, 246);
  padding: 0 2%;
  overflow: hidden;
}

.chat-message-container {
  position: relative;
  left: 3%;
  height: 85%;
  width: 90%;
  overflow-x: scroll;
}

.chat-message-body {
  height: 100%;

  display: inline;
}

.chat-text-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  bottom: 5%;
  width: 70%;
  z-index: 99999;
}

#chat-textbox {
  height: 55px;
  margin-right: 1%;
  padding-left: 1%;
  border: 5px;
}

#textbox-submit {
  background: none;
  background-color: rgb(80, 137, 252);
  width: 60px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

#no-contacts-selected {
  position: relative;
  left: 40%;
  top: 50%;
}

#message {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.15% 0.5%;
}

.message-container {
  width: 95%;
  padding: 1%;
}

.attach-image-btn {
  padding: 0;
  border: none;
  background: none;
  margin-right: 1rem;
  cursor: pointer;
}

.attach-image {
  width: auto;
  height: 55px;
  padding: 0;
}

.hidden {
  width: 55px;
  height: 55px;
}

#imgFile, #imgAndText {
  width: 30%;
}

.text {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.15% 0.5%;
}