.chat-container {
  height: 100vh;
  display: flex;
  width: 100%;
}

.chat-contacts-container {
  width: 21%;
  height: 100%;
}

.chat-contacts-body {
  height: 70%;
  position: relative;
  top: 10%;
}

#user {
  padding: 0 5%;
  font-size: 1.5rem;
  vertical-align: middle;
}

.chat-body {
  height: 100%;
  width: 79%;
  background-color: rgb(219, 233, 246);
  padding: 0 2%;
  overflow: hidden;
}

.chat-message-container {
  position: relative;
  left: 3%;
  height: 85%;
  width: 90%;
  overflow-x: scroll;
}

.chat-message-body {
  height: 100%;

  display: inline;
}

.chat-text-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 25%;
  bottom: 5%;
  width: 70%;
  z-index: 99999;
}

#chat-textbox {
  height: 55px;
  margin-right: 1%;
  padding-left: 1%;
  border: 5px;
}

#textbox-submit {
  background: none;
  background-color: rgb(80, 137, 252);
  width: 60px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgb(226, 223, 223);
  height: 5rem;
}

.status-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: 25%;
  top: 0.8rem;
}

#no-contacts-selected-text, #new-chat-selected-text {
  position: relative;
  left: 40%;
  top: 50%;
  
}

#message {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.15% 0.5%;
}

.message-container {
  width: 95%;
  padding: 1%;
}

.attach-image-btn, .attach-file-btn {
  padding: 0;
  border: none;
  background: none;
  margin-right: 1rem;
  cursor: pointer;
}

.attach-image, .attach-file {
  width: auto;
  height: 55px;
  padding: 0;
}

.hidden {
  width: 55px;
  height: 55px;
}

#imgFile, #imgAndText {
  width: 30%;
}

.text {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.15% 0.5%;
}

.attach-file-mini{
  width: auto;
  height: 25px;
  padding: 0;
  vertical-align: middle;
}

.file-attachment {
  padding: 0.15% 0.5%;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 10%;
  justify-content: center;
}

.chat-header {
  width: fit-content;
  font-size: 2rem;
  margin-right: 20px;
}

#header-icon {
  width: 25%;
  align-items: center;
}

.user-status-container {
  margin-left:15px;
  align-items: center;
  display: flex;
}

.typingStatus-text {
  font-size: 1.2rem;
  float: right;
  margin-right: 9%;
}