.accessNav-container {
  width: 10%;
  float: right;
  padding: 1%;
}

.accessNav-login-register {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 1rem;
  margin: 1%;
  font-weight: 600;
}