.accessNav-container {
  padding: 1%;
  position: absolute;
  right: 1%;
  z-index: 99999;
}

.accessNav-login-register {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 1rem;
  margin: 1%;
  font-weight: 600;
}